{% extends '@GeekdoosUser/sing.html.twig' %}

{% block forms %}
<div class="container-fluid">
    <div class="sign-form">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% if error %}
                    <div class="alert alert-danger-fill alert-danger-outline alert-dismissible fade in m-b-0" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Oh snap!</strong> {{ error.messageKey|trans(error.messageData, 'security') }} try again.
                    </div>
                    <hr>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4 p-x-3">
                <div class="box b-a-0">
                    <div class="p-a-2 text-xs-center">
                        <h5>Welcome to GeekDoos</h5>
                    </div>
                    {{ include('FOSUserBundle:Security:login_content.html.twig') }}
                    <div class="p-x-2">
                        <div class="row">
                            <div class="col-xs-6">
                                <button type="button" class="btn bg-facebook btn-block label-left m-b-0-25">
                                    <span class="btn-label"><i class="ti-facebook"></i></span>
                                    Facebook
                                </button>
                            </div>
                            <div class="col-xs-6">
                                <button type="button" class="btn bg-googleplus btn-block label-left m-b-0-25">
                                    <span class="btn-label"><i class="ti-google"></i></span>
                                    Google+
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="p-a-2 text-xs-center text-muted">
                        Don't have an account? <a class="text-black" href="{{ path('fos_user_registration_register') }}"><span class="underline">Sign up</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}